<header class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <div class="container">
        <a class="navbar-brand text-light fw-bold" href="{{ '/' | relative_url }}">
            Nossa Senhora das Rosas
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Toggle navigation</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="{{ '/sao-bento/' | relative_url }}">São Bento</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ '/regra/' | relative_url }}">Regra</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ '/artigos/' | relative_url }}">Reflexões</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ '/galeria/' | relative_url }}">Fotos</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ '/eventos/' | relative_url }}">Cursos</a></li>
            </ul>
        </div>
    </div>
</header>
